{{!-- loops through the result data and makes a table with the results--}}

<table style="border: 1px solid black;">
    <tr>
      <th>Name</th>
      <th>Artist</th>
      {{!-- <th>Album</th> --}}
      <th>Year</th>
      <th>Genre</th>
      <th>Mood</th>
    </tr>

    {{#each results}}
    <tr>
      
      <th>{{Song}} </th>
      <th>{{Artist}}</th>
      <th>{{Decade}}</th>
      <th>{{Genre}}</th>
      <th>{{Mood}}</th>
     
    </tr> 
    
    {{/each}}
  </table>